/* Navigation css */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2B2F33;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

}

 @media (max-width: 850px) {
   ul.nav {
     position: relative;
 }
}
li.nav {
  float: left;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-stretch: ultra-expanded;
}

li.nav a  {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 3em;
  text-decoration: none;
}




/* This is the control for when the mouse hovers over */
li.nav:hover {
  background-color: Black;
}

/* text display */

body {

   background-image: url("imagebg.jpeg");
   color: white;
   background-color: #07194E;
   background-repeat: no-repeat, repeat;
   background-size: cover;
   background-attachment: fixed;
   margin: 0;
   font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
   font-style: normal;
   font-synthesis: none;
   font-weight: normal;
}


p {
  color: white;
  padding: 20px 20px 0px 0;
  /* padding-left: 20em;
  padding-right: 20em; */
  opacity: 1;
  padding-left:20vw;
  padding-right:20vw

}
@media (max-width: 850px){
  p{
    padding: 1em;
  }
}
#box {
  font-family: "Noto Sans", sans-serif;
  color: black;
  /* padding-left: 90px; */
  padding-left: 0em;
  padding-right: 0em;
  opacity: 1;



}

h1 {

  /* DESKTOP VIEW */
padding-top: 15%;
font-size: 5em;
text-align: center;
}



/* MOBILE VIEW */
@media (max-width: 850px) {
  h1{
   font-size: 2em;
 }
}

h2 {

  font-family: "Noto Sans", sans-serif;
  color: white;
}

h3 {
  font-family: "Noto Sans", sans-serif;
  color: white;
  text-align: center;
  background-color: #333;
  color: white;
}




/* for discovery log bubles and formating only */
/* Blue date bubble css control */


li.log span {
  display: inline-block;
  font-weight: 800;
  width: 9em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #00AED9;
  color: white;
  position: relative;
}

li.log {
  list-style-type: none;
  text-align: left;
}


/* standard text */
h2 {
text-align: center;
color: white;
}

li.p {
  font-family: "Noto Sans", sans-serif;
  color: white;
  /* padding-left: 90px; */

}








/* Gray boxes */
.box{
     text-align: center;
     font-family: arial;
     font-size: 20px;
     position: relative;
     margin-left: 10vw;
     width: 75vw;
     margin-top: 4em;
     border: 3px solid white;
     background-color: #6E6E6E;
     padding-left: 2em;
     padding-right: 2em;
}



img {
  padding: 1em;
  width: 20%;
}

/* Mobile alterations to image */
@media (max-width: 850px) {
  img{
    width: 60%;
  }
  .box{
    width: 99%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
  }
}








footer{
      margin-top: 3em;
      font-family: arial;
      font-size: 1em;
      position: relative;
      padding-top: 2em;
      border: 0.3em solid white;
      background-color: #6E6E6E;

      padding-left: 2em;
      padding-right: 2em;

}









  /* The below css is for the video */

.VideoBox{
      font-family: arial;
     font-size: 1em;
     position: relative;
     padding-top: 1em;
     border: 0.3em solid white;
     background-color: #6E6E6E;


   }
.VideoBox p {
  vertical-align: bottom;
  float: right;
  text-align: center;

}
 /* video */

 video {
   width: 80vw;
   padding: 1vw;
   position: static;
   vertical-align: middle;
   float: left;
 }


@media (min-width: 851px){
  video {
    width: 60em;
  }

  .VideoBox{
       margin-bottom: 8em;
       padding-left: 2em;
       padding-right: 2em;
       padding-bottom: 30em;

     }
     .VideoBox p {
       vertical-align: bottom;
       float: right;
       text-align: center;

     }
}

/* mobile video */
 @media (max-width: 850px) {
  .VideoBox{
    height: 25em;
  }
  video {
   height: 15em;
   position: static;
   width: 100%;
  }
  .VideoBox p {
    vertical-align: top;
    float: right;
    text-align: center;

  }
}
