body {
  background-color: #D6C9C9 !important;
}

/* section boxes */
.CVsection{
  color: white;
  font-family: arial;
  position: relative;
  border: 3px solid rgb(255, 255, 255);
  background-color: #77B6EA;
}

/* footer css */
footer{
      margin-top: 3em;
      font-family: arial;
      font-size: 1em;
      position: relative;
      padding-top: 2em;
      background-color: #D6C9C9;

      padding-left: 2em;
      padding-right: 2em;

}

/* SMALL NAV CSS */
/* Style the navigation menu */
.smallNav {
  overflow: hidden;
  background-color: #333;
  top: 0;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.smallNav #myLinks {
  display: none;
}


/* Style navigation menu links */
.smallNav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.smallNav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.smallNav a:hover {
  background-color: #C7D3DD;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #37393A;
  color: white;
}


ul{
  text-align: left;
}


.CVsection h1{
  text-align: center;
  padding-top: 1em;
}

.imageScroll{
  height: 400px;
  width: auto;
  object-fit: cover;
}

.outlined {
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

p {
  padding: 1em;
}

.welcomeSection {
  height: 80vh;
  display: flex;
  text-align: center;
}

.welcomeSection h1{
  color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 20vw; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}

.welcomeSection h2{
  display: inline;
  text-align: center;
}